@import "tailwindcss";

@theme {
  --color-primary: #4b90ff;
  --color-secondary: #ff5546;
}

body {
  min-height: 100vh;
  animation: fadeIn 1.5s;
  background-color: #f0f4f9;
}

@keyframes loader {
  0% {
    background-position: -800px 0px;
  }
  100% {
    background-position: 800px 0px;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.animate-loader {
  animation: loader 3s linear infinite forwards;
}

.animate-fadeIn {
  animation: fadeIn 1s;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE and Edge */
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
}
